body{
    background-image: url("./images/calculator3.jpg");
}

H1{
    text-align: center;
    color:whitesmoke;
    font-size: 85px;
}
.heading{
    background-color:#2b2b2b;
    max-width: fit-content;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}
.container{
    background-color:#2b2b2b;
   margin: auto;
   max-width: 400px;
   padding: 20px;
   
}
.flex{
    display: flex;
    flex-direction:column;
   align-items: center;
   margin: auto;
}

button{
  border-radius: 100%;
  background-color: #313131;
  color: white;
  width: 66px;
  padding: 20px;
  margin:  6px 10px ;
  border: 2px;
  font-size: large;
  cursor: pointer;
}

.symbol{
    background-color: orange;
    font-weight: bolder;
}


.rows input{
    padding: 20px 100px;
    background-color: hsla(0, 2%, 22%, 0.982);
    border: none;
    margin: 20px;
    color: white;
}

.top{
    background-color: #a0a0a0;
}




